.footer {
  width: 103%;
}
.footer1 {
  height: 7rem;
  background-color: #584b3e;
  justify-content: space-between;
  display: flex;

  .pad {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .pad1 {
    margin-top: 2rem;
    margin-right: 10rem;
  }
}
.footer2 {
  background-color: #766257;
  height: 3rem;
}
